.clear{
	clear: both;
}

/*treners*/
.df-bg-section{
	background-image: url("../img/df-bg.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	// padding: 53px 0 63px 0;
	padding: 25px 0 25px 0;
}
.df-cap{
	color:#fff;
	letter-spacing: -0.2px;
}
.df-toptext{
	line-height: 30px;
	font-size: 20px;
	color:#fff;
	font-family: "RobotoLight";
	text-align: center;
	padding: 20px 0;	
}
.df-treners_view{
	text-align: center;
	margin-left: -13px;	
}
.df-treners__block_view{
	max-width: 175px;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 15px;
}
.df-treners__img_view a{
	display: inline-block;
	max-width: 136px;
	width: 100%;
	height: 210px;
	margin: 0 auto;	
	position: relative;
	transition: background 0.9s;
	img{
		width: 100%;
		height: auto;
		display: inline-block;		
	}
}
.df-treners__block_view:hover{
	transition: background 0.5s;
	.df-treners__img_view a:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top:0;
		left: 0;
		background: #020000;
		opacity: 0.4;
		transition: background 0.9s;	
	}
}
.df-treners__link_view{
	font-size: 16px;
	color:#fff;
	line-height: 20px;
	display: inline-block;
	text-decoration: underline;
	font-family: "RobotoLight";
	transition:0.5s;
	margin-top: 7px;
}
.df-treners__link_view:hover{
	color:#e6e035;
	text-decoration: none;
	transition:0.5s;
}

/*============calendar===========*/
.df-bg-section2{
	background-color: #f0f0ef;
	padding: 53px 0 59px 0; 
}
.df-calendar_view{
	text-align: center;
}
.df-calendar__links_view{
	text-align:center;
	margin: 31px 0 13px 0;	
	a{
		display: inline-block;
		text-align: center;
		font-family: "RobotoRegular";		
		// width: 49.7%;
		width: 100%;
		line-height: 30px;
		font-size: 20px;
		color:#292929;
		background: #fff;
	}
}
.df-calendar__events_view{
	// text-align: left;
	text-align: center;
}
.df-calendar__textbox_view{
	background: #fff;
	margin-bottom: 10px;
	padding: 5px 0;
}
.df-left_view{
	font-family: "RobotoLight";
	display: inline-block;
	font-size: 15px;
	color:#fff;
	line-height: 30px;
	background: #111111;
	width: 101px;
	padding: 2px 0;
	text-align: center;
	transition:0.5s;
	margin-bottom: 5px;
}
.df-right_view{
	font-family: "RobotoLight";	
	display: block;
	font-size: 15px;
	color:#292929;
	line-height: 30px;	
	text-align: left;
	padding-left: 7px;
	transition:0.5s;

}
.df-calendar__textbox_view:hover{
	.df-left_view{
		background: #e6e035;
		transition:0.5s;
	}
	.df-right_view{
		color:#c30005;
		transition:0.5s;		
	}
}

.df-input-calendar{
	display: inline-block;
	margin-top: 30px;
	background: #fff;
}


@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
	.df-bg-section{		
		padding: 53px 0 63px 0;
	}
	.df-treners__block_view{		
		margin-bottom: 0px;	
		margin-right: -13px;		
	}
	.df-toptext{		
		padding: 17px 35px 33px 60px;
	}

	/*calendar*/
	.df-calendar__links_view a{						
		width: 49.7%;		
	}
	.df-calendar__events_view{
		text-align: left;	
	}
	.df-calendar__textbox_view{		
		padding: 0;
	}
	.df-left_view{		
		margin-bottom: 0px;
	}
	.df-right_view{		
		display:inline-block;
		max-width: 850px;
	}

}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}