.section-db-zapis{
	text-align: center;
	background: url("../img/db-fon-zapis.jpg") no-repeat;
	background-size: cover;
	input[type="text"]{
		background:none;
		height:40px;
		font-family: "RobotoMedium";
		width:253px;
		margin-bottom: 20px;
	}
}
.db-zapis-submit{
	background-color: red !important;
	color:#fff !important;
	height:40px !important;
	
	font-family: "RobotoMedium" !important;
	font-size: 24px !important;
	line-height: 30px !important;
	padding:0 !important;
}
.db-zapis-h2{
	padding-bottom: 30px;
	color: #e6e035;
	font-size: 30px;
}

.section-db-news-view{
	// outline: 1px solid red;
	text-align: center;
	.db-h2-news{
		padding-bottom:40px; 
	}
	img{
		display: inline-block;
	}
	p{
		padding-top:10px;
		padding-bottom: 30px;
		// outline: 1px solid red;
		font-family: "RobotoRegular";
		a{
		font-size:16px;
		line-height: 20px;
		color: #292929;
		}
		a:hover{
			color: #c30005;
		}
		span{
			font-size:13px;
			line-height: 20px;
			color: #777676;
		}
	}
}
.db-new-imgbox{
	margin: 0 auto;
	position:relative;
	display: block;
	height: 190px;
	width: 300px;
	overflow: hidden;
}
.db-new-imgbox:hover:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background: #020000;
  opacity: 0.4;
 
 }
.submit_padding-news{
	padding-top:0px;
}
.section-db-we-view{
	text-align: center;
	img{
		display: inline-block;
	}
}
.submit_padding{
	padding-top: 30px;

}
.db-h2-we{
	padding-bottom: 40px;
}
.db-section-whi_view{
	background: url("../img/db-fon-why.jpg") no-repeat;
	background-size: cover;
	color:white;
	text-align: center;
	padding: 20px 0;
}
.db-img-box{
	height:75px;
}
.db-why-h2{
	color:#fff;
	font-size: 20px;
	font-weight: 400;
	span{
		font-family: "RobotoThin";
		font-weight: 100;
	}	
}
.db-why-content{
	padding: 20px 0;
	// outline: 1px solid red;
	width:187px;
	margin: 0 auto;
	font-family: "RobotoRegular";
}



@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
	.section-db-zapis{
	
	input[type="text"]{
		width:300px;
	}
}
	.db-zapis-submit{
		width:300px !important;
	}

.section-db-zapis{
	padding:50px 0 !important;
}

	.section-db-news-view{
		padding: 50px 0 !important;
	}
	.section-db-we-view{
padding: 50px 0 !important;
}

	.db-section-whi_view{
		padding:65px 0;
	}

	.db-why-h2{
	font-size: 35px;
	padding-bottom: 4px;
}
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    // outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}